<launch>
  <!-- Load URDF into parameter server -->
  <param name="robot_description" textfile="$(find manus_glove_bridge)/urdf/manus_hand.urdf" />

  <!-- Publish TF from robot_description + /joint_states -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <!-- Your MANUS -> joint_states node -->
  <node pkg="manus_glove_bridge" type="manus_glove_node" name="manus_glove_node" output="screen" />

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz" />
</launch>
